:root {
    /* Hex colors */
    --primary-bg-color: #202123;
    --secondary-bg-color: #2a2b2d;
    --whitish-bg-color: #f5f5f5;
    --primary-text-color: #E4E6EB;
    --secondary-text-color: #1b1b1c;
    --primary-yellow-color: #ffdb33;
    --secondary-yellow-color: #ffe676;
    --primary-purple-color: #8e3ee1;

    /* RGB colors*/
    --rgb-primary-bg-color: 32, 33, 35;
    --rgb-secondary-bg-color: 42, 43, 45;
    --rgb-whitish-bg-color: 245, 245, 245;
    --rgb-primary-text-color: 228, 230, 235;
    --rgb-secondary-text-color: 27, 27, 28;
    --rgb-primary-yellow-color: 255, 219, 51;
    --rgb-secondary-yellow-color: 255, 230, 118;
    --rgb-primary-purple-color: 142, 62, 225;
}

* {
    font-family: "JetBrains Mono Medium", monospace;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    margin: 0 0 0 0;
}

/* Main background image layer */
.main-bg {
    background-image: url(../img/bgImage_vertical.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

/* Gives the blur effect for index -1 physically */
.main-bg-overlay {
    backdrop-filter: blur(3px);
}

.page-wrapper {
    max-width: 45em;
    min-width: 22.5em;
    height: 100%;
    margin: auto;
    border-left: 3px solid var(--primary-text-color);
    justify-content: center;
    padding: 0 1em;
    /* background color and text color for this group */
    background-color: rgba(var(--rgb-primary-bg-color), 0.9) ;
    color: var(--primary-text-color);
    box-shadow: -3px 3px 10px 0 rgba(var(--rgb-primary-yellow-color), 0.3);
}

/* Header thingy */

.page-header-wrapper {
    display: flex;
    height: 2em;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

a {
    font-family: 'JetBrains Mono ExtraBold', monospace;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: all 0.4s linear;
}

a:hover {
    color: var(--primary-yellow-color);
}

.navbar>a {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.1s ease-in-out;
}

.navbar>a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.navbar>a:hover {
    font-size: 20px;
}

.navbar>a:hover::after {
    width: 100%;
    left: 0;
    background-color: var(--primary-yellow-color);
    transform: translateX(0);
}

/* Profile thingy */

.profile-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-content-wrapper p {
    margin-top: -10px;
}

.headingIcon::before {
    content: '# ';
}

p {
    text-align: justify;
}

/* Table thingy */

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    padding: 5px;
}

tr th {
    font-family: 'JetBrains Mono ExtraBold', monospace;
    text-align: center
}

.project-cell {
    font-family: 'JetBrains Mono Medium', monospace;
    text-align: left;
    padding-left: 10px;
}

/* Contact thingy */

.contact-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-content {
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    mask-size: 100%;
}

.contact-content>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(100%);
    /*background: var(--secondary-yellow-color);*/
    transition: all 0.4s ease-in-out;
}

.contact-content>a:hover::before {
    backdrop-filter: grayscale(0%);
}

.linkedin {
    -webkit-mask-image: url(../img/linkedin.png);
    mask-image: url(../img/linkedin.png);
}

.instagram {
    -webkit-mask-image: url(../img/instagram.png);
    mask-image: url(../img/instagram.png);
}

.github {
    -webkit-mask-image: url(../img/github.png);
    mask-image: url(../img/github.png);
}

.discord {
    -webkit-mask-image: url(../img/discord.png);
    mask-image: url(../img/discord.png);
}

/* Contact on Form*/

input,
textarea {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 5px;
    width: calc(100% - 20px);
    transition: all 0.2s ease-in-out;
}

input:focus {
    background-color: var(--whitish-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-yellow-color);
}

input[type="submit"]:hover {
    background-color: var(--primary-yellow-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-yellow-color);
    transition: all 0.2s linear;
}

input[type="submit"]:active {
    background-color: var(--secondary-yellow-color);
    font-family: 'JetBrains Mono ExtraBold', monospace;
}

textarea {
    resize: vertical;
}

textarea:focus {
    background-color: var(--whitish-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-yellow-color);
}

/* Back to top button element */

a[href="#"] {
    position: fixed;
    text-decoration: none;
    right: 15px;
    bottom: 3px;
    transition: all 90ms linear;
}

a[href="#"]:hover {
    transform: scale(1.1);
}

a[href="#"]:active {
    transform: scale(1);
}

/* Page scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
    border-radius: 3px;
    margin: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-yellow-color);
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg-color);
    border-radius: 3px;
    margin: 0 5px 0 5px
}

/* This helps the web components to be responsive, adjusting the scales in mobile (screen max of 768px) */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .contact-content img {
        width: 50px;
        height: auto;
    }

    .profile-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Desktop, but at least this starts the effects from 769px width */
@media screen and (min-width: 769px) {
    .main-bg-overlay {
        padding: 7px 0 7px 0;
    }

    .page-wrapper {
        border-radius: 15px 15px 15px 15px;
    }
}

/* When the desktop screen is wider than body's background image, change background image */
@media screen and (min-width: 1920px) {
    .main-bg {
        background-image: url(../img/bgImage_horizontal.jpg);
    }

    .page-wrapper {
        box-shadow: -3px 3px 10px 0 rgba(var(--rgb-primary-purple-color), 0.3);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-purple-color);
    }
}